@import '../../common/variables.scss';
.form {
  width: 343px;
  .tooltip {
    color: $black;
    font-weight: bold;
    padding: 20px;
  }
  label {
    .icon {
      margin-left: 10px;
    }
  }
  .radioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .radio {
      flex: 0 1 49%;
      &.third {
        flex: 0 1 32%;
      }
      height: 44px;
    }
    &.horitonzal {
      .radio {
        margin-bottom: 6px;
      }
    }
  }
  .btn {
    cursor: pointer;
    width: 343px;
    height: 44px;
    background-color: $green;
    color: white;
    border-radius: 4px;
    border: 0;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    &:disabled {
      background-color: lightgray;
    }
    &:hover:enabled {
      transition: 0.5s;
      background-color: darken($green-hex, 10%);
    }
  }
}
