@import './common/variables.scss';
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  .contentContainer {
    margin: 16px;
    @media screen and (min-width: $breakpoint-small) {
      margin: 16px 40px;
    }
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $green;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    @media screen and (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
    span {
      padding: 5px;
      margin-right: 10px;
    }
  }
}
