@import '../../common/variables.scss';
table {
  border-spacing: 0;
  thead {
    tr {
      font-weight: bold;
      text-align: right;
    }
  }
  tr {
    td {
      width: 116px;
      text-align: right;
    }
    :first-child {
      text-align: left;
    }
  }
  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 2px solid $input-background;
    height: 25px;
    :last-child {
      border-right: 0;
    }
  }
  tbody {
    tr:last-child {
      font-weight: bold;
    }
  }
}
