.mortgage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .chartContainer {
    width: 700px;
    height: 500px;
    .chart {
      width: 700px;
      height: 500px;
    }
  }
}
