@import '../../common/variables.scss';
.tableBtnContainer {
  color: $black;
  width: 100%;
  .tableContainer {
    overflow-x: auto;
  }
  .switchBtn {
    margin-bottom: 16px;
  }
  .csvBtn {
    margin-top: 16px;
  }
}
