$green: rgb(96, 219, 146);
$green-hex: #60db92;
$black: #373839;
$primary-dark: #0d0c1d;
$primary-light: #effffa;
$input-background: rgba(96, 219, 146, 0.150459);
$input-border-radius: 4px;
$input-error: red;

// Breakpoints
$breakpoint-smaller: 360px;
$breakpoint-small: 580px;
$breakpoint-medium: 740px;
$breakpoint-large: 950px;
$breakpoint-extralarge: 1100px;
