$green: rgb(96, 219, 146);
$green-hex: #60db92;
$black: #373839;
$input-background: rbga(96, 219, 146, 0.1504587572674419);
$input-border-radius: 4px;
$input-error: red;

// Breakpoints
$breakpoint-smaller: 360px;
$breakpoint-small: 580px;
$breakpoint-medium: 740px;
$breakpoint-large: 950px;
$breakpoint-extralarge: 1100px;
