@import '../../common/variables.scss';
.tax {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    margin: 5px;
  }
  .tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}
