@import '../../common/variables.scss';
.tax {
  display: flex;
  flex-wrap: wrap;
  .form {
    margin: 0px 28px 0 0;
  }
  .description {
    flex: 1;
  }
  .table {
    margin: 28px 0;
  }
  @media screen and (max-width: 1132px) {
    .form {
      margin: 0 auto;
      order: 1;
    }
    .description {
      order: 3;
    }
    .table {
      order: 2;
    }
  }
}
