form {
  max-width: 343px;
  .radioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .radio {
      flex: 0 1 49%;
      &.third {
        flex: 0 1 32%;
      }
      height: 44px;
    }
    &.horitonzal {
      .radio {
        margin-bottom: 6px;
      }
    }
  }
  .btn {
    max-width: 343px;
    height: 44px;
  }
}
